.type-rpg {
    background-color: lightblue;
    color: white;
  }
  
  .type-mmorpg {
    background-color: darkblue;
    color: white;
  }
  
  .type-none {
    background-color: lightgray;
  }
  
  
